/* background behind the logo */
#header-wrapper {
    background: #322A38;
    color: #fff;
    text-align: center;
    border-bottom: 4px solid #9c6fb6;
    padding: 1rem;
}
#header {
    background: #322A38;
    border-color: #101010;
}

/* background color of the menu */
#sidebar {
    background-color: #322A38;
}

/* background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background-color: #322A38;
}

/* color of all links, including arrows to get to previous and next pages */
a {
    color: #00bcd4;
}
a:hover {
    color: #00a5d4;
}