{{ partial "header.html" . }}
{{ if .Params.WebGLRenderTarget }}
    {{ if .Params.SpacetimeVisualization }}
        {{ partial "spacetime.html" . }}
    {{ end }}
    {{ if .Params.IndexSpaceVisualization }}
        {{ partial "indexspace.html" . }}
    {{ end }}
    {{ if .Params.FreeScheduleVisualization }}
        {{ partial "freeschedule.html" . }}
    {{ end }}
    {{ if .Params.LinearScheduleVisualization }}
        {{ partial "linearschedule.html" . }}
    {{ end }}
{{ end }}
{{ .Content }}
{{ partial "footer.html" . }}
