{{ if .Params.WebGLRenderTarget }}
  {{ if .Params.ExpandingWavefrontViz }}
    {{ partial "expandingwavefront.html" . }}
  {{ end }}
  {{ if .Params.IndexSpaceVisualization }}
    {{ partial "indexspace.html" . }}
  {{ end }}
  {{ if .Params.FreeScheduleVisualization }}
    {{ partial "freeschedule.html" . }}
  {{ end }}
  {{ if .Params.LinearScheduleVisualization }}
    {{ partial "linearschedule.html" . }}
  {{ end }}
  {{ if .Params.WavefrontAnimation }}
    {{ partial "wavefront.html" . }}
  {{ end }}
  {{ if .Params.ProtoAnimation }}
    {{ partial "prototype.html" . }}
  {{ end }}
{{ end }}
{{- .Content }}
