

<script src="{{ .Site.BaseURL }}/js/build/three.js"></script>
<script src="{{ .Site.BaseURL }}/js/controls/OrbitControls.js"></script>
<script src="{{ .Site.BaseURL }}/js/Detector.js"></script>
<script src="{{ .Site.BaseURL }}/js/libs/numeric-1.2.6.js"></script>
<script src="{{ .Site.BaseURL }}/js/dfa/spacetime.js"></script>

<script type="x-shader/x-vertex" id="vertexshader">

			attribute float size;
			attribute vec3 customColor;

			varying vec3 vColor;

			void main() {

				vColor = customColor;

				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

				gl_PointSize = size * ( 300.0 / -mvPosition.z );

				gl_Position = projectionMatrix * mvPosition;

			}

		</script>

<script type="x-shader/x-vertex" id="wavefrontshader">
			uniform float time;
			uniform float cardinality;
			attribute float schedule;
			attribute float size;
			attribute vec3 customColor;

			varying vec3 vColor;

			void main() {

				vColor = customColor;

				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

				// scale particles as objects in 3D space that modulate in size as a computational wavefront passes through
				float period = mod(time, cardinality);  // set a modulo range so the visualization cycles

				// modulate a full sinusoid long: (sin(-pi/2), sin(3*pi/2))
				if (period > (schedule - 1.0) && period < (schedule + 1.0)) {

				    gl_PointSize = (1.5 + sin((period - schedule)*3.14 + 1.57)) * ( 300.0 / length( mvPosition.xyz ) );

				} else {

				    gl_PointSize = size * ( 100.0 / -mvPosition.z );

				}

				gl_Position = projectionMatrix * mvPosition;

			}

		</script>

<script type="x-shader/x-vertex" id="wavefrontshader2">
			uniform float time;
			uniform float cardinality;
			attribute float schedule;
			attribute float size;
			attribute vec3 customColor;

			varying vec3 vColor;

			void main() {

				vColor = customColor;

				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

				// scale particles as objects in 3D space that modulate in size as a computational wavefront passes through
				float period = mod(time, cardinality);  // set a modulo range so the visualization cycles

				// modulate from (0 - 1)
				if (period > schedule && period < (schedule + 1.0)) {

				    gl_PointSize = (0.2 + (period - schedule)*2.75) * ( 500.0 / length( -mvPosition.z ) );

				} else {

				    gl_PointSize = size * ( 100.0 / -mvPosition.z );

				}

				gl_Position = projectionMatrix * mvPosition;

			}

		</script>

<script type="x-shader/x-fragment" id="fragmentshader">

			uniform vec3 color;
			uniform sampler2D texture;

			varying vec3 vColor;

			void main() {

				gl_FragColor = vec4( color * vColor, 1.0 );

				gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );

				if ( gl_FragColor.a < ALPHATEST ) discard;

			}

</script>

<script>
    if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

    var scenes = [];
    var views = [];
    var t, canvas, renderer;
    var PARTICLE_SIZE = 2;
    var clock = new THREE.Clock( true );

    window.onload = init;

    function init() {
        canvas = document.getElementById( 'c' );

        renderer = new THREE.WebGLRenderer( { canvas: canvas, antialias: true } );
        renderer.setClearColor( 0xffffff );
        renderer.setPixelRatio( window.devicePixelRatio );

        var renderTarget = "{{ .Params.RenderTargetName }}";
        var view = document.getElementById( renderTarget );
        views.push( view );

        { // view = wavefront_view_2  animate linear schedule
            var lattice2 = createSpacetimeGeometry(4, 4, 4, 1);
            var pointSize2 = PARTICLE_SIZE * 0.25;

            var texturePath = "{{ .Site.BaseURL }}/textures/sprites/ball.png";
            // cardinality of the simulation is from [3, 60]
            uniforms2 = {
                cardinality: { value: 6.0 },
                time:        { value: 1.0 },
                color:       { value: new THREE.Color( 0xffffff ) },
                texture:     { value: new THREE.TextureLoader().load( texturePath ) }
            };
            var scene2 = createSpacetimeScene( lattice2, pointSize2, 'wavefrontshader2', 'fragmentshader', uniforms2, sphericalWavefront );
            scene2.userData.view = view;

            // PerspectiveCamera ( fov, aspectRatio, near clipping plane, var clipping plane )
            var camera2 = new THREE.PerspectiveCamera( 75, 1, 0.1, 100 );
            camera2.position.set( 5, 5, 2.5 );
            scene2.userData.camera = camera2;

            var controls2 = new THREE.OrbitControls( camera2, view );
            controls2.minDistance = 2;   // zoom can't zoom in further than z = 20
            controls2.maxDistance = 100;   // zoom can't zoom out further than z = 500
            scene2.userData.controls = controls2;

            scenes.push( scene2 );
        }

        t = 0;
        animate();

    }

    function updateSize() {
        var width = canvas.clientWidth;
        var height = canvas.clientHeight;

        if ( canvas.width !== width || canvas.height != height ) {
            renderer.setSize( width, height, false );
        }
    }

    function animate() {
        render();
        requestAnimationFrame( animate );
    }

    function render() {
        updateSize();

        // the ScissorTest machinery is needed to make the viewport clipping work properly.
        renderer.setClearColor( 0xffffff );
        renderer.setScissorTest( false );
        renderer.clear();

        renderer.setClearColor( 0x000000 );
        renderer.setScissorTest( true );

        scenes.forEach( function( scene ) {

            var rect = scene.userData.view.getBoundingClientRect();
            // check if it's off-screen. If so skip it
            if ( rect.bottom < 0 || rect.top  > renderer.domElement.clientHeight ||
                rect.right  < 0 || rect.left > renderer.domElement.clientWidth ) {
                return;  // it's off-screen so skip the renderering
            }

            // set the viewport
            var width  = rect.right - rect.left;
            var height = rect.bottom - rect.top;
            var left   = rect.left;
            var bottom = renderer.domElement.clientHeight - rect.bottom;
            renderer.setViewport( left, bottom, width, height );
            renderer.setScissor( left, bottom, width, height );

            uniforms2.time.value = t/5.0;
            renderer.render( scene, scene.userData.camera );

            scene.children[0].geometry.verticesNeedUpdate = true;

        } );

        t = clock.getElapsedTime();
    }

</script>